
@*<div ng-hide="!AuthorContractLinks_List.length">

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                Author Contract Links
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">*@

                <table class="table table-bordered table-striped">
                    <tr>
                        <th> Author Contract Code </th>
                    </tr>

                    <tr ng-repeat="P in AuthorContractLinks_List">
                        <td class="table-color"><a href="~/Contract/AuthorContract/view?Id={{P.AuthorContractId}}" target="_blank"><span ng-bind="P.AuthorContractCode"></span></a></td>
                    </tr>
                </table>
            @*</div>
        </div>
    </div>

</div>*@
@*<div ng-hide="AuthorContractLinks_List.length">No result found</div>*@