
@*<div ng-hide="!PermissionsOutboundMasterLinks_List.length">

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                Permission Outbound Links
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">*@

                <table class="table table-bordered table-striped">
                    <tr>
                        <th> Permissions Outbound Code </th>
                    </tr>

                    <tr ng-repeat="P in PermissionsOutboundMasterLinks_List">
                        <td class="table-color"><a href="~/PermissionsOutbound/PermissionsOutbound/PermissionsOutboundMaster?Id={{P.AuthorContractId}}&type=P{{P.ProductLicenseId}}&OutboundView={{P.PermissionsOutboundId}}" target="_blank"><span ng-bind="P.PermissionsOutboundCode"></span></a></td>
                    </tr>
                </table>
            @*</div>
        </div>
    </div>

</div>*@
@*<div ng-hide="PermissionsOutboundMasterLinks_List.length">No result found</div>*@
