
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
             @T("Dashboard.ISBNEntered")
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div ng-hide="!ProductWithISBNList.length">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th> Product Code </th>
                        <th> ISBN </th>
                        <th> Working Product </th>
                        <th> Author Name</th>
                        <th> Publishing Date </th>
                    </tr>

                    <tr ng-repeat="P in ProductWithISBNList">
                        <td class="table-color"><a href="~/Product/ProductMaster/ProductDetailsView?Id={{P.Id}}">   <span ng-bind="(P.ProductCode)"></span> </a></td>
                        <td> <span ng-bind="(P.ISBN)"></span></td> 
                        <td><span ng-bind="(P.WorkingProduct)"></span><span style="font-size:11px;">  <br /><span ng-bind="(P.WorkingSubProduct)"></span> </span></td>
                        <td><span ng-bind="(P.AuthorName)"></span> </td>
                        <td><span ng-bind="(P.ProjectedPublishingDate)"></span> </td>
                    </tr>
                </table>
                <a href="javascript:void(0);" ng-click="ProductWithISBNList_submitForm();" class="moreDash">View More</a>
            </div>
            <div ng-hide="ProductWithISBNList.length">No result found</div>
        </div>
    </div>
</div>