@{
    ViewBag.Title = "StatementSearch";
    Layout = "~/Views/Shared/_LayoutDesignMaster.cshtml";
}

<script src="~/js/Report/StatementSearchView.js"></script>

<script src="~/js/common/TopSearch.js"></script>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="main-title">
                <h1>
                    Author / Publisher Statement Search
                    @Html.Partial("pagedate")
                </h1>
            </div>
        </div>

        <div class=" col-md-12 text-right" id="backToSearch" style="display:none;">
            <div class="tools">
                <a href="javascript:void(0);" ng-click="func_GoBack();" style="color:black; ">Back To Search</a>
            </div>
        </div>

        <form id="AuthorPublisherStatement_Search" name="userForm" class=" form-horizontal" ng-submit="AuthorPublisherStatementSearchForm()" novalidate ng-cloak>

            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Author / Publisher Statement Search
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="collapse"> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Entry Date</h4>
                                    <hr style="border: 0.5px solid #F45B43;" />
                                    &nbsp;
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">From Month&nbsp;</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" >
                                                        <select name="EntryFromMonth" ng-model="EntryFromMonth" class="form-control">
                                                            <option value>Select From Month</option>
                                                            <option value='01'>Janaury</option>
                                                            <option value='02'>February</option>
                                                            <option value='03'>March</option>
                                                            <option value='04'>April</option>
                                                            <option value='05'>May</option>
                                                            <option value='06'>June</option>
                                                            <option value='07'>July</option>
                                                            <option value='08'>August</option>
                                                            <option value='09'>September</option>
                                                            <option value='10'>October</option>
                                                            <option value='11'>November</option>
                                                            <option value='12'>December</option>
                                                        </select>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">From Year&nbsp;</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.EntryFromYear.$dirty) && userForm.EntryFromYear.$invalid } ">
                                                        <input type="number" name="EntryFromYear" ng-model="EntryFromYear" class="form-control" placeholder="From Year" ng-pattern="/^[0-9]{4}$/"
                                                               maxlength="4" ng-required="!(EntryFromMonth==null)">

                                                        <div class="help-block">
                                                            <p ng-show="userForm.EntryFromYear.$error.required && (userForm.EntryFromYear.$dirty || submitted)" class="help-block red">Please enter from year </p>
                                                            <p ng-show="userForm.EntryFromYear.$error.pattern" class="help-block red">Please enter valid from year</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">To Month&nbsp; </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" >
                                                        <select name="EntryToMonth" ng-model="EntryToMonth" class="form-control">
                                                            <option value>Select To Month</option>
                                                            <option value='01'>Janaury</option>
                                                            <option value='02'>February</option>
                                                            <option value='03'>March</option>
                                                            <option value='04'>April</option>
                                                            <option value='05'>May</option>
                                                            <option value='06'>June</option>
                                                            <option value='07'>July</option>
                                                            <option value='08'>August</option>
                                                            <option value='09'>September</option>
                                                            <option value='10'>October</option>
                                                            <option value='11'>November</option>
                                                            <option value='12'>December</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">To Year&nbsp;</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.EntryToYear.$dirty) && userForm.EntryToYear.$invalid } ">
                                                        <input type="number" name="EntryToYear" ng-model="EntryToYear" class="form-control" placeholder="To Year" ng-pattern="/^[0-9]{4}$/"
                                                               maxlength="4" ng-required="!(EntryToMonth==null) && !(ToMonth==null)">

                                                        <div class="help-block">
                                                            <p ng-show="userForm.EntryToYear.$error.required && (userForm.EntryToYear.$dirty || submitted)" class="help-block red">Please enter to year </p>
                                                            <p ng-show="userForm.EntryToYear.$error.pattern" class="help-block red">Please enter valid to year</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <h4>Instrument Date</h4>
                                    <hr style="border: 0.5px solid #F45B43;"/>
                                    &nbsp;
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">From Month&nbsp;@*<span class="red">*</span>*@ </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.FromMonth.$dirty) && userForm.FromMonth.$invalid } "*@>
                                                        <select name="FromMonth" ng-model="FromMonth" class="form-control" @*ng-required=""*@>
                                                            <option value>Select From Month</option>
                                                            <option value='01'>Janaury</option>
                                                            <option value='02'>February</option>
                                                            <option value='03'>March</option>
                                                            <option value='04'>April</option>
                                                            <option value='05'>May</option>
                                                            <option value='06'>June</option>
                                                            <option value='07'>July</option>
                                                            <option value='08'>August</option>
                                                            <option value='09'>September</option>
                                                            <option value='10'>October</option>
                                                            <option value='11'>November</option>
                                                            <option value='12'>December</option>
                                                        </select>

                                                        @*<div class="help-block">
                                                            <p ng-show="userForm.FromMonth.$error.required && (userForm.FromMonth.$dirty || submitted)" class="help-block red">Please select from month </p>
                                                        </div>*@

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">From Year&nbsp;@*<span class="red">*</span>*@</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.FromYear.$dirty) && userForm.FromYear.$invalid } ">
                                                        <input type="number" name="FromYear" ng-model="FromYear" class="form-control" placeholder="From Year" ng-pattern="/^[0-9]{4}$/"
                                                               maxlength="4" ng-required="!(FromMonth==null)">

                                                        <div class="help-block">
                                                            <p ng-show="userForm.FromYear.$error.required && (userForm.FromYear.$dirty || submitted)" class="help-block red">Please enter from year </p>
                                                            <p ng-show="userForm.FromYear.$error.pattern" class="help-block red">Please enter valid from year</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">To Month&nbsp;@*<span class="red">*</span>*@ </label>
                                                <div class="col-md-7">
                                                    <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.ToMonth.$dirty) && userForm.ToMonth.$invalid } "*@>
                                                        <select name="ToMonth" ng-model="ToMonth" class="form-control" @*ng-required=""*@>
                                                            <option value>Select To Month</option>
                                                            <option value='01'>Janaury</option>
                                                            <option value='02'>February</option>
                                                            <option value='03'>March</option>
                                                            <option value='04'>April</option>
                                                            <option value='05'>May</option>
                                                            <option value='06'>June</option>
                                                            <option value='07'>July</option>
                                                            <option value='08'>August</option>
                                                            <option value='09'>September</option>
                                                            <option value='10'>October</option>
                                                            <option value='11'>November</option>
                                                            <option value='12'>December</option>
                                                        </select>

                                                        @*<div class="help-block">
                                                            <p ng-show="userForm.ToMonth.$error.required && (userForm.ToMonth.$dirty || submitted)" class="help-block red">Please select to month </p>
                                                        </div>*@

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-5">To Year&nbsp;@*<span class="red">*</span>*@</label>
                                                <div class="col-md-7">
                                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.ToYear.$dirty) && userForm.ToYear.$invalid } ">
                                                        <input type="number" name="ToYear" ng-model="ToYear" class="form-control" placeholder="To Year" ng-pattern="/^[0-9]{4}$/"
                                                               maxlength="4" ng-required="!(FromMonth==null) && !(ToMonth==null)">

                                                        <div class="help-block">
                                                            <p ng-show="userForm.ToYear.$error.required && (userForm.ToYear.$dirty || submitted)" class="help-block red">Please enter to year </p>
                                                            <p ng-show="userForm.ToYear.$error.pattern" class="help-block red">Please enter valid to year</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class=" row">
                                <div class="col-md-6">

                                    <div class=" row" style="margin-left:2px;">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="radio-inline" style="padding-top: 0px !important;">
                                                        <input type="radio" name="ContractCodeOrLicenseCodeChk " ng-model="ContractCodeOrLicenseCodeChk" 
                                                               ng-click="func_AuthorContractCodeChk()" value="AuthorContractCode" required> Author Contract Code
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <label class="radio-inline" style="padding-top: 0px !important; margin-left:26px;">
                                                        <input type="radio" name="ContractCodeOrLicenseCodeChk " ng-model="ContractCodeOrLicenseCodeChk" 
                                                               ng-click="func_ProductLicenseCodeChk()" value="ProductLicenseCode" required> Product License Code
                                                    </label>
                                                </div>

                                                <div ng-class="{ 'has-error' : userForm.ContractCodeOrLicenseCodeChk .$invalid && (userForm.ContractCodeOrLicenseCodeChk .$dirty || submitted)}">
                                                    <div class="help-block" style="margin-left:13px;">
                                                        <p ng-show="userForm.ContractCodeOrLicenseCodeChk .$error.required && (userForm.ContractCodeOrLicenseCodeChk.$dirty || submitted)" class="help-block">Please select one of these </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="ReqAuthorContractCode">
                                        <div class="col-md-12">
                                            <label class="control-label col-md-5">Author Contract Code &nbsp; @*<span class="red">*</span>*@ </label>
                                            <div class="col-md-7">
                                                <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.AuthorContractCode.$dirty) && userForm.AuthorContractCode.$invalid } "*@>
                                                    <input type="text" name="AuthorContractCode" ng-model="AuthorContractCode" @*ng-required="ReqAuthorContractCode&&!AuthorCode&&!AuthorName"*@
                                                           class="form-control" placeholder="Author Contract Code">

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.AuthorContractCode.$error.required && (userForm.AuthorContractCode.$dirty || submitted)" class="help-block red">Please enter author contract code </p>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label col-md-5">Author Code &nbsp; @*<span class="red">*</span>*@ </label>
                                            <div class="col-md-7">
                                                <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.AuthorCode.$dirty) && userForm.AuthorCode.$invalid } "*@>
                                                    <input type="text" name="AuthorCode" class="form-control" @*ng-required="ReqAuthorContractCode&&!AuthorName&&!AuthorContractCode"*@
                                                           ng-model="AuthorCode" placeholder="Author Code">

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.AuthorCode.$error.required && (userForm.AuthorCode.$dirty || submitted)" class="help-block red">Please enter author code </p>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label col-md-5">Author Name &nbsp; @*<span class="red">*</span>*@ </label>
                                            <div class="col-md-7">
                                                <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.AuthorName.$dirty) && userForm.AuthorName.$invalid } "*@>
                                                    <input type="text" name="AuthorName" class="form-control" @*ng-required="ReqAuthorContractCode&&!AuthorCode&&!AuthorContractCode"*@
                                                           ng-model="AuthorName" placeholder="Author Name">

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.AuthorName.$error.required && (userForm.AuthorName.$dirty || submitted)" class="help-block red">Please enter author name </p>
                                                        </div>*@

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.AuthorName.$error.required && (userForm.AuthorName.$dirty || submitted)" class="help-block red">Please enter one of these </p>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="ReqLicenseCode">
                                        <div class="col-md-12">
                                            <label class="control-label col-md-5">Product License Code &nbsp; @*<span class="red">*</span>*@ </label>
                                            <div class="col-md-7">
                                                <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.ProductLicenseCode.$dirty) && userForm.ProductLicenseCode.$invalid } "*@>
                                                    <input type="text" name="ProductLicenseCode" class="form-control" @*ng-required="ReqLicenseCode&&!PublishingCompanyName&&!PublishingCompanyCode"*@
                                                           ng-model="ProductLicenseCode" placeholder="Product License Code">

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.ProductLicenseCode.$error.required && (userForm.ProductLicenseCode.$dirty || submitted)" class="help-block red">Please enter product license code </p>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label col-md-5">Publishing Company Code &nbsp; @*<span class="red">*</span>*@ </label>
                                            <div class="col-md-7">
                                                <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.PublishingCompanyCode.$dirty) && userForm.PublishingCompanyCode.$invalid } "*@>
                                                    <input type="text" name="PublishingCompanyCode" class="form-control" @*ng-required="ReqLicenseCode&&!PublishingCompanyName&&!ProductLicenseCode"*@
                                                           ng-model="PublishingCompanyCode" placeholder="Publishing Company Code">

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.PublishingCompanyCode.$error.required && (userForm.PublishingCompanyCode.$dirty || submitted)" class="help-block red">Please enter publishing company code </p>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label col-md-5">Publishing Company Name &nbsp; @*<span class="red">*</span>*@ </label>
                                            <div class="col-md-7">
                                                <div class="form-group" @*ng-class="{ 'has-error': ( submitted ||userForm.PublishingCompanyName.$dirty) && userForm.PublishingCompanyName.$invalid } "*@>
                                                    <input type="text" name="PublishingCompanyName" class="form-control" @*ng-required="ReqLicenseCode&&!PublishingCompanyCode&&!ProductLicenseCode"*@
                                                           ng-model="PublishingCompanyName" placeholder="Publishing Company Name">

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.PublishingCompanyName.$error.required && (userForm.PublishingCompanyName.$dirty || submitted)" class="help-block red">Please enter publishing company name </p>
                                                        </div>*@

                                                    @*<div class="help-block">
                                                            <p ng-show="userForm.PublishingCompanyName.$error.required && (userForm.PublishingCompanyName.$dirty || submitted)" class="help-block red">Please enter one of these </p>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="hidden" value="@Session["For"]" ng-model="hid_For" id="hid_For" name="hid_For">
                            <input type="hidden" value="@Session["UserDepartment"]" ng-model="hid_User" id="hid_User" name="hid_User">
                            <input type="hidden" value="" id="hid_ChecboxType" name="hid_ChecboxType">
                            <button type="submit" class="btn green" id="btnSubmit">Search</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="col-md-12" id="AuthorPublisherStatement_List" style="display:none;">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <span ng-bind="headingStatement"></span>
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">

                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead>
                                <tr ng-repeat="items in AuthorPublisherStatement_List | limitTo:1">
                                    <th>S. No.</th>

                                    <!--field for Author Contract Code-->
                                    <th ng-hide="!items.AuthorContractCode">Assignment Contract Code</th>
                                    <th ng-hide="!items.AuthorName">Author Name</th>

                                    <!--field for Product License Code-->
                                    <th ng-hide="!items.ProductLicenseCode">Product License Code</th>
                                    <th ng-hide="!items.PublishingCompanyName">Publishing Company Name</th>

                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in AuthorPublisherStatement_List">
                                    <td><span ng-bind="$index + 1"></span></td>

                                    <!--Data from Author Contract Code-->
                                    <td ng-hide="!items.AuthorContractCode">
                                        <a href="~/Report/Report/StatementView?ACId={{items.AuthorContractId}}" target="_blank" style="color: #ee5941;"><span ng-bind="items.AuthorContractCode"></span></a>
                                    </td>
                                    <td ng-hide="!items.AuthorName">
                                        <a href="~/Report/Report/StatementView?AId={{items.AuthorId}}" target="_blank" style="color: #ee5941;"><span ng-bind="items.AuthorName"></span></a>
                                        @*<a href="~/Report/Report/StatementView?ACId={{items.AuthorContractId}}" target="_blank" style="color: #ee5941;"><span ng-bind="items.AuthorName"></span></a>*@
                                    </td>

                                    <!--Data from Product License Code-->
                                    <td ng-hide="!items.ProductLicenseCode">
                                        <a href="~/Report/Report/StatementView?PLId={{items.ProductLicenseId}}" target="_blank" style="color: #ee5941;"><span ng-bind="items.ProductLicenseCode"></span></a>
                                    </td>
                                    <td ng-hide="!items.PublishingCompanyName">
                                        @*<a href="~/Report/Report/StatementView?PLId={{items.ProductLicenseId}}" target="_blank" style="color: #ee5941;"><span ng-bind="items.PublishingCompanyName"></span></a>*@
                                        <a href="~/Report/Report/StatementView?PubId={{items.PublishingCompanyId}}" target="_blank" style="color: #ee5941;"><span ng-bind="items.PublishingCompanyName"></span></a>
                                    </td>

                                    <td><span ng-bind="items.TotalAmount"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


            @if (Session["GenerateExcelPermissions"] != null && ViewBag.Report == "report")
            {
                <div class="col-md-12 text-center btnPrint">
                    <div class="tools">
                        <button type="submit" class="btn green" ng-click="StatementSearchReportExcel()" id="btnSubmit">Generate Excel List</button>
                        &nbsp
                        <button type="submit" class="btn green" ng-click="StatementSearchReportExcelDetails()" id="btnSubmitDetails">Generate Excel Details</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

