
@{
    ViewBag.Title = "GenericError";
    Layout = "~/Views/Shared/_LayoutDesign.cshtml";
}

<h2>Oops!!</h2>
<p>&nbsp;</p>
<p>We encountered a problem. Please <a href="~/Resident/Resident/Dashboard">click here</a> to retry!</p>

