
<style type="text/css">
    .table-color a {
        color: #ee5941;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @T("Dashboard.LicenseEnteredNotContract")
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div ng-hide="!ProductAuthorContractNotEntered.length">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th> Product Code </th>
                        <th> ISBN </th>
                        <th> Working Product</th>
                        <th>Publishing Company Name</th>
                        <th> Author </th>
                    </tr>

                    <tr ng-repeat="Product in ProductAuthorContractNotEntered |limitTo:3">
                        <td class="table-color"><a href="~/Product/ProductMaster/ProductDetailsView?Id={{Product.Id}}"><span ng-bind="(Product.ProductCode)"></span> </a></td>
                        <td> <span ng-bind="(Product.ISBN)"></span>  </td>
                        <td><span ng-bind="(Product.WorkingProduct)"></span><span style="font-size:11px;">  <br /> <span ng-bind="(Product.WorkingSubProduct)"></span></span></td>
                        <td><span ng-bind="(Product.PublishingCompany)"></span>  </td>
                        <td><span ng-bind="(Product.AuthorName)"></span> </td>
                    </tr>
                </table>
                <a href="javascript:void(0);" ng-click="ProductAuthorContractNotEntered_submitForm();" class="moreDash">View More</a>
            </div>
            <div ng-hide="ProductAuthorContractNotEntered.length">No result found</div>
        </div>
    </div>
</div>


