
<style type="text/css">
    .table-color a {
        color: #ee5941;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Inbound Permission Expiring Within 3 Months
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>

        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div ng-hide="!PermissionOutboundExpiryDate_List.length">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th> Code </th>
                        @*<th> Product Code </th>*@
                        <th> ISBN </th>   
                        <th> Working Product </th>                    
                        <th> Assets Type</th>                        
                        <th>Expiry Date</th>
                        <th> Executive Name</th>
                    </tr>

                    <tr ng-repeat="qty in PermissionOutboundExpiryDate_List">
                        @*<td class="table-color"><a href="../../PermissionsInbound/PermissionsInbound/PermissionsInboundMaster?Id={{Authot_IMNE.Id}}&type=P{{Authot_IMNE.ProductId}}">{{Authot_IMNE.ProductLicensecode}}</a></td>
            <td class="table-color"><a href="../../PermissionsInbound/PermissionsInbound/PermissionsInboundMaster?Id={{Authot_IMNE.Id}}&type=P{{Authot_IMNE.ProductId}}">{{Authot_IMNE.ProductCode}}</a></td>*@
                        <td class="table-color">

                            <a href="~/PermissionsInbound/PermissionsInbound/ViewInbound?type=P{{qty.ProductId}}&InboundId={{qty.Code}}" target="_blank"><span ng-bind="(qty.Code)"></span></a>
                        </td>
                        @*<td>{{qty.Code}}</td>*@

                        @*<td class="table-color">

                            <a href="~/Product/ProductMaster/ProductDetailsView?Id={{qty.ProductId}}&For=View" target="_blank"><span ng-bind="(qty.ProductCode)"></span></a>
                        </td>*@

                        <td><span ng-bind="(qty.ISBN)"></span>   </td>
                        <td><span ng-bind="(qty.WorkingProduct)"></span> <span style="font-size:11px;">  <br /><span ng-bind="(qty.WorkingSubProduct)"></span>  </span></td>

                        <td><span ng-bind="(qty.AssetsType)"></span>   </td>
                        <td><span ng-bind="(qty.Expirydate)"></span>   </td>
                        <td><span ng-bind="(qty.ExecutiveName)"></span>   </td>
                       

                    </tr>
                </table>
              
                <div style="float:right">
                    <a ng-show="PermissionOutboundExpiryDate_List.length" href="javascript:void(0);" ng-click="Inbound_Permission_Expiring_Within_Months_das();" target="_blank" title="View More" class="moreDash">View More</a>

                </div>

            </div>
            <div ng-hide="PermissionOutboundExpiryDate_List.length">No result found</div>
        </div>
    </div>
</div>


