
<style type="text/css">
    .table-color a {
        color: #ee5941;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @T("Dashboard.LicenseExpired")
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div ng-hide="!ProductLicenseExpiredList.length">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th> Product License code </th>
                        <th> Product Code </th>
                        <th> ISBN </th>
                        <th> Working Product</th>
                        <th>Publishing Company Name</th>
                        <th> Author </th>
                        <th> Expiry Date </th>
                    </tr>

                    <tr ng-repeat="obj in ProductLicenseExpiredList">
                        <td class="table-color"><a href="~/Product/ProductLicense/view?Id={{obj.Id}}" target="_blank"> <span ng-bind="(obj.ProductLicensecode)"></span></a></td>
                        <td class="table-color">  <a href="~/Product/ProductMaster/ProductDetailsView?Id={{obj.ProductId}}" target="_blank"> <span ng-bind="(obj.ProductCode)"></span></a></td>
                        <td><span ng-bind="(obj.ISBN)"></span>   </td>
                        <td><span ng-bind="(obj.WorkingProduct)"></span>    <span style="font-size:11px;">  <br /> <span ng-bind="(obj.WorkingSubProduct)"></span>  </span></td>
                        <td> <span ng-bind="(obj.PublishingCompany)"></span> </td>
                        <td> <span ng-bind="(obj.AuthorName)"></span> </td>
                        <td> <span ng-bind="(obj.Expirydate)"></span> </td>
                    </tr>
                </table>
                <a href="javascript:void(0);" ng-click="ProductLicenseExpired_submitForm();" class="moreDash">View More</a>
            </div>
            <div ng-hide="ProductLicenseExpiredList.length">No result found</div>
        </div>
    </div>
</div>



