

<style type="text/css">
    .table-color a {
        color: #ee5941;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Right Sales - Payment Not Received - License
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div ng-hide="!RightSalePaymentNotReceive_ByLicenseId_List.length">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th> License Code </th>
                        <th> Product Code </th>
                        <th> ISBN </th>
                        <th> Working Product </th>
                    </tr>

                    <tr ng-repeat="RightSalePNR in RightSalePaymentNotReceive_ByLicenseId_List">
                        <td class="table-color"><a href="~/RightsSelling/RightsSelling/RightsSellingPaymentTagging?ProductLicenseId={{RightSalePNR.Id}}">   <span ng-bind="(RightSalePNR.ProductLicensecode)"></span></a></td>
                        <td> <span ng-bind="(RightSalePNR.ProductCode)"></span></td>
                        <td><span ng-bind="(RightSalePNR.ISBN)"></span></td>
                        <td><span ng-bind="(RightSalePNR.WorkingProduct)"></span><span style="font-size:11px;">  <br /><span ng-bind="(RightSalePNR.WorkingSubProduct)"></span></span></td>
                    </tr>
                </table>
                <a href="~/PaymentTagging/PaymentTagging/PaymentTaggingSearch?For=Rights" class="moreDash">View More</a>
            </div> @*javascript:void(0);   ng-click="RightSaleContractExpire_submitForm();"*@
            <div ng-hide="RightSalePaymentNotReceive_ByLicenseId_List.length">No result found</div>
        </div>
    </div>
</div>




