@using ACS.Services.Master
@{
    ViewBag.Title = "SubsidiaryRightsMaster";
    Layout = "~/Views/Shared/_LayoutDesignMaster.cshtml";
}

<style type="text/css">
    .fa {
        color: black !important;
    }

    th {
        text-align: left !important;
    }

    td {
        text-align: left !important;
    }
</style>

<script src="~/js/master/Master.SubsidiaryRights.js"></script>
<script src="~/js/master/common.master.js"></script>
<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<script src="~/js/common/TopSearch.js"></script>
@section onInit
{
        angular.element(document.getElementById('angularid')).scope().GetSubsidiaryRightsList();

}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="main-title">
                <h1>
                    Subsidiary Rights Master
                    @Html.Partial("pagedate")
                </h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Subsidiary Rights
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body form">

                    <form name="userForm" class=" form-horizontal" novalidate ng-submit="submitForm()">
                        <div class=" form-body ">
                            <h3 class="form-section">@*@T("Form.CityMaster.Subsubheading")*@</h3>
                            <div class=" row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-5">@*@T("Common.City.Label")*@ Subsidiary Rights <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
                                            <input type="text" name="name" class="form-control" ng-model="name" required ng-pattern="/^[a-zA-Z'.\s]/" placeholder="Subsidiary Rights">
                                            <div class="help-block">
                                                <p ng-show="userForm.name.$error.required && (userForm.name.$dirty || submitted)" class="help-block">Please Enter Subsidiary Rights</p>
                                                <p ng-show="userForm.name.$error.pattern  && (userForm.name.$dirty || submitted)">@*@T("Common.CityName.Invalid.Required")*@</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="hidden" id="hid_recordid" name="hid_recordid" ng-model="hid_recordid" />
                                    <button type="submit" class="btn green" id="btnSubmit" name="btnSubmit" ng-model="btnSubmit">Submit</button>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Subsidiary Rights List
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>

                    <table datatable="ng" class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th>Subsidiary Rights</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="SubsidiaryRights in SubsidiaryRightsList">
                                <td>{{SubsidiaryRights.SubsidiaryRights}}</td>
                                <td><a ng-click="EditSubsidiaryRightsData(SubsidiaryRights.Id)"><i class="fa fa-edit" title="Edit Subsidiary Rights"></i></a></td>
                                <td>
                                    @*<a ng-click="DeleteSubsidiaryRights(SubsidiaryRights.Id)"><i class="fa fa-trash-o" title="Delete Subsidiary Rights"></i></a>*@

                                    <a ng-click="DeleteSubsidiaryRights(SubsidiaryRights.Id)" ng-if="SubsidiaryRights.Flag =='0'"><i class="fa fa-trash-o" title="Delete Subsidiary Rights"></i></a>

                                    <a ng-if="SubsidiaryRights.Flag =='1'"><i class="glyphicon glyphicon-ban-circle" style="color:black!important;" title="Linked With Other Process"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
