<div class="portlet-body clearfix">
    <div class="portlet-body flip-scroll">
        <table class="table table-striped table-bordered table-hover dataTable no-footer RoyaltySlab" id="TblOwnerList">
            <thead class="flip-content">
                <tr>
                    <th>S No.</th>
                    <th>Product Sub-Type</th>
                    <th>Copies From</th>
                    <th>Copies To</th>
                    <th>Percentage (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="div in RoyaltyslabList">
                    <td><span ng-bind="$index +1"></span></td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span ng-bind="div.SubProductType"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span ng-bind="div.CopiesFrom"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span ng-bind="div.CopiesTo"></span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.RyPercentage.$dirty) && userForm.RyPercentage.$invalid } ">
                                        <span ng-bind="div.Percentage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
