
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Author <span ng-bind="$index+1"></span> Basic Details
        </div>
        <div class="tools">
            <a href="javascript:void(0);" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body clearfix">
        <div class="col-md-12">            
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label col-md-5 col-xs-6 col-sm-6"><strong>Name</strong></label>
                        <div class="col-md-7 col-xs-6 col-sm-6">
                            <label class="control-label"><a href="javascript:void(0)" data-toggle="modal" 
                                ng-click="EditAuthorDataView(div.Id)" data-target="#AuthorView" style="color:#ee5941"><span ng-bind="div.Name"></span></a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <div class="col-md-12" ng-if="RoyaltyslabList.length>0">
            <div class="caption">
                <strong>Royalty Slab</strong>
            </div>
            @Html.Partial("~/Areas/Contract/Views/Shared/_RoyaltySlab_Addendumview.cshtml")
        </div>

    </div>
</div>





