
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Author <span ng-bind="$index+1"></span> Basic Details
        </div>
        <div class="tools">
          <a href="javascript:void(0);" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body clearfix">
        <div class="col-md-12">
            <div class=" col-md-4 col-xs-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label col-md-5 col-xs-6 col-sm-6"><strong>Contract Type</strong></label>
                        <div class="col-md-7 col-xs-6 col-sm-6">
                            <label class="control-label"><span ng-bind="div.ContractName"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-xs-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label col-md-5 col-xs-6 col-sm-6"><strong>Author Type</strong></label>
                        <div class="col-md-7 col-xs-6 col-sm-6">
                            <label class="control-label"><span ng-bind="div.Type"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label col-md-5 col-xs-6 col-sm-6"><strong>Author Name</strong></label>
                        <div class="col-md-7 col-xs-6 col-sm-6">
                            <label class="control-label"><a href="javascript:void(0)" data-toggle="modal" ng-click="EditAuthorDataView(div.Id)" data-target="#AuthorView" style="color:#ee5941"><span ng-bind="div.Name"></span></a></label>
                        </div>
                    </div>
                </div>
            </div>
         </div>

        <div class="col-md-12">
            <div class="caption">
                <strong>Contract Details</strong>
            </div>
            @Html.Partial("~/Areas/Contract/Views/Shared/_ContractDetails_view.cshtml")
        </div>


        <div class="col-md-12" ng-if="RoyaltyslabList.length>0">
            <div class="caption">
                <strong>Royalty Slab</strong>
            </div>
            @Html.Partial("~/Areas/Contract/Views/Shared/_RoyaltySlab_view.cshtml")
        </div>


    </div>
</div>

@*=================================================================================
        this model will open the author in view mode
    =================================================================================*@

<div class="modal fade bs-example-modal-lg" id="AuthorView" tabindex=" -1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:90%;">
        @Html.Partial("~/Views/Shared/_AuthorView.cshtml")
    </div>
</div>



