<script type="text/javascript">
    app.expandControllerRoyaltySlab = function ($scope, AJService, $window) {
        $scope.RoyaltyslabList = [];
        $scope.RoyaltyslabList.push(1);

        var SubProductTypeList = AJService.GetDataFromAPI("CommonList/getSubProductTypeList", null);
        SubProductTypeList.then(function (SubProductTypeList) {
            $scope.SubProductTypeList = SubProductTypeList.data.subProductData;
        }, function () {
            //alert('Error in getting SubProduct Type List');
        });

        $scope.addroyalslabrow = function () {
            var i = $scope.RoyaltyslabList.length + 1;
            $scope.RoyaltyslabList.push(i);
        }
        $scope.removeroyalslabrow = function (index) {
            $scope.RoyaltyslabList.splice(index, 1);
        }

        $scope.getRoyaltySlab = function () {
            var marr_RoyaltySlab = [];

            $("select[name$=SubProductType] option:selected[value!='']").each(function () {
                var mint_subtypeId = $(this).val();
                var mint_copiesfrom = $(this).closest('tr').find("[name$=CopiesFrom]").val();
                var mint_copiesto = $(this).closest('tr').find("[name$=CopiesTo]").val();
                var mint_percentage = $(this).closest('tr').find("[name$=RyPercentage]").val();

                var _mobjRoyaltySlab = {
                    ProductSubTypeId: mint_subtypeId,
                    copiesfrom: mint_copiesfrom,
                    copiesto: mint_copiesto,
                    percentage: mint_percentage,
                }
                marr_RoyaltySlab.push(_mobjRoyaltySlab);
            });

            return marr_RoyaltySlab;
        }

        $scope.setRoyaltySlab = function (mobjRoyaltySlab) {
            for (i = 1; i < mobjRoyaltySlab.length; i++) {
                var i = $scope.RoyaltyslabList.length + 1;
                $scope.RoyaltyslabList.push(i);
            }
            $(document).ready(function () {
                setTimeout(function () {
                    for (i = 0; i < mobjRoyaltySlab.length; i++) {
                        var RoyaltySlabDetails = mobjRoyaltySlab[i];
                        $("#SubProductType_" + i).val(RoyaltySlabDetails.ProductSubTypeId);
                        $("#CopiesFrom_" + i).val(RoyaltySlabDetails.copiesfrom);
                        $("#CopiesTo_" + i).val((RoyaltySlabDetails.copiesto > 0 ? RoyaltySlabDetails.copiesto : ""));
                        $("#RyPercentage_" + i).val(RoyaltySlabDetails.percentage);
                    }
                }, 2000)

               
            });
        }

    }
</script>

<div class="portlet-body clearfix">
    <div class="portlet-body flip-scroll">
        <table class="table table-striped table-bordered table-hover dataTable no-footer RoyaltySlab" id="TblOwnerList">
            <thead class="flip-content">
                <tr>
                    <th>S No.</th>
                    <th>Product Sub-Type</th>
                    <th>Copies From</th>
                    <th>Copies To</th>
                    <th>Percentage (%)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in RoyaltyslabList">
                    <td><span ng-bind="$index +1"></span></td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-control" id="SubProductType_{{$index}}" ng-change="RemoveValidationRoyaltySlab(this)" onchange="RoyaltySlab($(this))" name="SubProductType" ng-model="SubProductType">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="div in SubProductTypeList" value="{{div.subProductId}}">{{div.subProductName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.CopiesFrom.$dirty) && userForm.CopiesFrom.$invalid } ">
                                        <input type="number" min="0" max="9999998" id="CopiesFrom_{{$index}}" onchange="RemoveValidationRoyaltySlab(this)" name="CopiesFrom" class="form-control" ng-model="CopiesFrom" placeholder="Copies From">
                                        <div class="help-block">
                                            <p ng-show="userForm.CopiesFrom.$error.required && (userForm.CopiesFrom.$dirty || submitted)" class="help-block red">Please enter copies from</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.CopiesTo.$dirty) && userForm.CopiesTo.$invalid } ">
                                        <input type="number" min="0" max="9999999" onblur="FillOutTo(this)" id="CopiesTo_{{$index}}" onchange="RemoveValidationRoyaltySlab(this)" name="CopiesTo" class="form-control" ng-model="CopiesTo" placeholder="Copies To">
                                        <div class="help-block">
                                            <p ng-show="userForm.CopiesTo.$error.required && (userForm.CopiesTo.$dirty || submitted)" class="help-block red">Please enter copies to</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error': ( submitted ||userForm.RyPercentage.$dirty) && userForm.RyPercentage.$invalid } ">
                                        <input type="number" min="0" id="RyPercentage_{{$index}}" onchange="RemoveValidationRoyaltySlab(this)" name="RyPercentage" class="form-control" max="100" ng-model="RyPercentage" placeholder="Percentage">
                                        <div class="help-block">
                                            @*<p ng-show="userForm.RyPercentage.$error.required && (userForm.RyPercentage.$dirty || submitted)" class="help-block red">Please enter Percentage</p>*@
                                            <p ng-show="userForm.RyPercentage.$error.max && (userForm.RyPercentage.$dirty || submitted)" class="help-block red">Percentage can't be greater than 100</p>
                                            @*<p ng-show="userForm.RyPercentage.$error.min && (userForm.RyPercentage.$dirty || submitted)" class="help-block red">Percentage can't be zero</p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                         <a class="RoyaltySlabnotAdd contractPage" style="color: #ee5941; cursor: pointer; ">+ Add More Row</a>
                                        <a class="RoyaltySlabnotRemove contractPage" style="color: #ee5941; display: none; cursor: pointer;">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

