<div class="row" style="margin-top:5px;">
    <div class="col-md-12">

        <marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()">
            <p style="color: #ee5941; font-weight:bold;">@Session["Ticker"]</p>
        </marquee>

    </div>
</div>

