@{
    ViewBag.Title = "MultipleFileUpload";
    Layout = null;
}
<script src="~/Content/Script/jquery-2.1.0.min.js"></script>
<script src="~/Content/script/DocUploaderGalleryV3.js"></script>
<link href="~/Content/DocUploaderGalleryV3.css" rel="stylesheet" />
@*<script type="text/javascript">
    var jQuery_2_1_0 = $.noConflict(true);
</script>*@



<form name="userform" class="form-horizontal" novalidate>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <input type="button" id="btn_Uploader" value="Select file" class="btn green"  />                
                <div class='help-block'><p style='color:red;margin-left:20%' id='fileid'></p></div>
                <input type="hidden" id="hid_Uploads" />

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">   
    //Start For only Safari browser
    if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
        setTimeout(function () {

            $('.laksDocUploader').css('display', 'block');
            $('.laksDocUploader').css('left', '-999px');

        }, 1000);
    }
    //End For only Safari browser

    $(document).ready(function () {

    });

    $("[id$='btn_Uploader']").each(
        
           function () {              

               $(this).laksDocUpload({
                  
                   isDragNDrop: true, DragNDropWidth: "100%"
                   , uploadPath: GlobalredirectPath + '/Common/upload'
                   , DragNDropHeight: "150px"
                   , allowedExtensions: "pdf,doc,docx,xls,xlsx,png,jpg,gif,eml,tif,msg"
                   , replaceLast: true
                   , multiFile: true
                   , fileSize: 2
                   , progressBarClass: "cstmProgressBar"
                   , onInit: function (settings) {
                       var FileTypes = $("<span style='display: inline-block; margin-left:10px'></span>").html("(Only .pdf, .doc, .docx, .xls, .xlsx, .jpg, .gif, .png, .eml, .tif, .msg)");
                       $(FileTypes).insertAfter(settings.triggeringDom);
                      
                   }
                 , onEachFileComplete: function (_AllSettings, returnString, xmlIndx) {
                     //debugger;
                    $("#hid_Uploads").val($("#hid_Uploads").val() + returnString + ',');

                     if (returnString.trim() == "no login") {
                         return false;
                     }
                     var hid_Uploads = $("[id$='hid_Uploads']");
                     var hid_UploadsVal = hid_Uploads.val();
                     if (typeof hid_UploadsVal === "undefined" && hid_UploadsVal.length <= 0) {
                         hid_UploadsVal = "";
                     }

                     var crrnt_progresstable = $($(_AllSettings.progressBars).not(".progresstable[returnstring]")[0]);
                     crrnt_progresstable.attr("returnString", returnString);
                 }
                   , onUploadDelete: function (_DEle, _AllSettings) {
                       var crrnt_progresstable = $(_DEle).parents(".progresstable");
                       var returnString = $(crrnt_progresstable).attr("returnString");


                       ////

                       var obj = {};                
                       obj.filename = $("#hid_Uploads").val();

                       var obj_new = {};
                       obj_new.filename = returnString;

                       $.ajax({
                           cache: false,
                           type: "POST",
                           contentType: 'application/json; charset=utf-8',
                           url: GlobalredirectPath + "/Common/deletedocument",
                           data: JSON.stringify(obj_new),
                           dataType: "json",
                           success: function (result) {
                               if (result == "Deleted") {
                                   /// if deleted then follow the code
                                   $(".progresstable").each(function () {
                                       var _temp = $(this).attr('returnstring');
                                       if (_temp == returnString) {
                                           $(this).next().html('');
                                           $(this).html('');

                                           // added by prakash on 05 June, 2017
                                           $(_AllSettings.dragBox).animate({ "height": _AllSettings.DragNDropHeight - 80 + "px" }, "fast", "linear");
                                       }
                                   });
                               }
                           },
                           error: function (xhr, ajaxOptions, thrownError) {
                           }
                       });


                       ////




                       if (typeof returnString !== "undefined" && returnString.length > 0) {
                          var crrnt_progresstable1 = $(_DEle).parents(".progresstable");
                           var triggeringDom1 = crrnt_progresstable1.data("triggeringDom");
                           var crrntSettings1 = $(triggeringDom1).data("lakOptionData");

                           var hid_Uploads = $("[id$='hid_Uploads']");
                           if (typeof hid_Uploads === "undefined" && hid_Uploads.length <= 0) {
                               return false;
                           }
                           var hid_UploadsVal = hid_Uploads.val();
                           var hid_UploadsArr = [];
                           if (!whiteSpaceRegex.test(hid_UploadsVal)) {
                               hid_UploadsArr = hid_UploadsVal.split(",");
                           }
                           var indx = hid_UploadsArr.indexOf(returnString.toString());
                           if (indx > -1) {
                               hid_UploadsArr.splice(indx, 1);
                           }
                           hid_UploadsVal = hid_UploadsArr.join(",");
                           hid_Uploads.val(hid_UploadsVal);
                       }



                   }
                   , onBeforeFileSend: function (_AllSettings, totalFiles, file_index) {
                      
                       var ceentBtn = _AllSettings.triggeringDom;
                       var crrnt_progresstable = $(_AllSettings.progressBars[_AllSettings.progressBars.length - totalFiles + file_index]);
                       crrnt_progresstable.append(
                               $("<div></div>").append("<div style='width:auto'><div style='float:left;width:50%'><input type='text' class='form-control fileNameClass' style='width:80%' placeholder='File Name' mendatory='filename'></div> <div style='float:left;widht:30%'><div></div>"));
                       $(crrnt_progresstable.next(".uploadedFileName")).addClass("text-left");
                       crrnt_progresstable.focus();
                       _AllSettings.DragNDropHeight += ($(crrnt_progresstable).find("select").height() + 80);
                       //_AllSettings.DragNDropHeight ='auto;';
                       $(_AllSettings.dragBox).animate({ "height": _AllSettings.DragNDropHeight + "px" }, "fast", "linear");
                       //$(_AllSettings.dragBox).animate({ "height": 'auto' }, "fast", "linear");
                   }
               });
           }
       );



</script>

