<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="ACS.Web.Framework.ViewEngines.Razor.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="SLV.Web" />

      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="true" />

    <!-- MAIL SETUP START -->
    <add key="SmtpHost" value="inndexhc01.in.oup.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUserName" value="rmsadministrator.in@oup.com" />
    <add key="SmtpPassword" value="Oxford@1" />
    <add key="ScheduledMailPath" value="~/ScheduledMail" />
    <add key="EnableMailSent" value="true" />
    <add key="EmailFrom_Name" value="OUP" />
    <add key="EmailFrom_Email" value="rmsadministrator.in@oup.com" />
    <add key="AuthenticationMail" value="true" />
    <!--MAIL SETUP END-->

    <add key="Attach_Logo" value="Pic1" />
    <add key="Attach_Logo_Path" value="D:\RMS\SLV.API\MailHtml\logo.jpg" />
    <!-- Local="D:\RMS\SLV.API\MailHtml\logo.jpg" -->
    <!-- UAT="E:\oUPRMS\oUPRMSAPI\MailHtml\logo.jpg" -->
    <!-- Live="C:\oUPRMS\oUPRMSAPI\MailHtml\logo.jpg" -->

  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
