    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: Times,serif;
            font-size: 10.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_002 {
            font-family: Times,serif;
            font-size: 10.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_005 {
            font-family: Times,serif;
            font-size: 20.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_005 {
            font-family: Times,serif;
            font-size: 20.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_003 {
            font-family: Times,serif;
            font-size: 10.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_003 {
            font-family: Times,serif;
            font-size: 10.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_004 {
            font-family: Times,serif;
            font-size: 8.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_004 {
            font-family: Times,serif;
            font-size: 8.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_006 {
            font-family: Times,serif;
            font-size: 9.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_006 {
            font-family: Times,serif;
            font-size: 9.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_007 {
            font-family: Times,serif;
            font-size: 10.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline;
        }

        div.cls_007 {
            font-family: Times,serif;
            font-size: 10.1px;
            color: rgb(0,0,0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
        }
        -->
    </style>
    <script type="text/javascript" src="./index_files/wz_jsgraphics.js.download"></script>

<div cz-shortcut-listen="true">
    <div>
        <div style="position:absolute;left:0px;top:0px">
            <img src="../../../../Content/images/oxford-logo.jpg" width="150" height="80" />
        </div>
        <div style="position:absolute;left:184.25px;top:15.85px" class="cls_002"><span class="cls_002">Warehouse Address: Oxford University Press</span></div>
        <div style="position:absolute;left:538.60px;top:11.85px" class="cls_005"><span class="cls_005">Tax Invoice</span></div>
        <div style="position:absolute;left:184.25px;top:27.85px" class="cls_002"><span class="cls_002">Killa no. 60//8 min, 13 Min, 7, 14, 15/1,</span></div>
        <div style="position:absolute;left:184.25px;top:39.85px" class="cls_002"><span class="cls_002">15/2, 60//6/2, Village Sikri, Tehsil Ballabhgarh,</span></div>
        <div style="position:absolute;left:442.20px;top:44.20px" class="cls_003"><span class="cls_003">Customer Copy</span></div>
        <div style="position:absolute;left:184.25px;top:51.85px" class="cls_002"><span class="cls_002">District Faridabad, Haryana - 121004</span></div>
        <div style="position:absolute;left:622.05px;top:54.15px" class="cls_002"><span class="cls_002">VAT RC. NO. 06501340123</span></div>
        <div style="position:absolute;left:184.25px;top:63.85px" class="cls_002"><span class="cls_002">PAN: AAACO3278K</span></div>
        <div style="position:absolute;left:627.60px;top:67.75px" class="cls_002"><span class="cls_002">CST RC NO. 06501340123</span></div>
        <div style="position:absolute;left:183.40px;top:81.05px" class="cls_002"><span class="cls_002">Customer Care Helpline No. : +91-9910337034, +91-9910337035</span></div>
        <div style="position:absolute;left:183.40px;top:93.05px" class="cls_002"><span class="cls_002">Customer Care Email ID: northcare.in@oup.com</span></div>
        <div style="position:absolute;left:651.75px;top:94.40px" class="cls_002"><span class="cls_002">PAN: AAACO3278K</span></div>
        <div style="position:absolute;left:11.35px;top:114.25px" class="cls_004"><span class="cls_004">Account No</span></div>
        <div style="position:absolute;left:94.95px;top:114.25px" class="cls_004"><span class="cls_004">Payment Terms</span></div>
        <div style="position:absolute;left:303.30px;top:114.25px" class="cls_004"><span class="cls_004">Due date</span></div>
        <div style="position:absolute;left:513.05px;top:114.25px" class="cls_004"><span class="cls_004">Invoice No.</span></div>
        <div style="position:absolute;left:600.95px;top:114.25px" class="cls_004"><span class="cls_004">Date</span></div>
        <div style="position:absolute;left:660.45px;top:114.25px" class="cls_004"><span class="cls_004">Page No</span></div>
        <div style="position:absolute;left:30.00px;top:129.25px" class="cls_002"><span class="cls_002">15397</span></div>
        <div style="position:absolute;left:85.05px;top:129.25px" class="cls_002"><span class="cls_002">Pay within 60 days</span></div>
        <div style="position:absolute;left:302.65px;top:129.25px" class="cls_002"><span class="cls_002">05.02.2017</span></div>
        <div style="position:absolute;left:528.50px;top:129.25px" class="cls_002"><span class="cls_002">91140031</span></div>
        <div style="position:absolute;left:591.75px;top:129.25px" class="cls_002"><span class="cls_002">07.12.2016</span></div>
        <div style="position:absolute;left:651.95px;top:129.25px" class="cls_002"><span class="cls_002">1</span></div>
        <div style="position:absolute;left:671.85px;top:129.25px" class="cls_002"><span class="cls_002">of 2</span></div>
        <div style="position:absolute;left:524.40px;top:149.75px" class="cls_004"><span class="cls_004">Ship via</span></div>
        <div style="position:absolute;left:586.75px;top:149.10px" class="cls_002"><span class="cls_002">West Delhi</span></div>
        <div style="position:absolute;left:14.15px;top:159.60px" class="cls_004"><span class="cls_004">Bill-To</span></div>
        <div style="position:absolute;left:255.10px;top:159.60px" class="cls_004"><span class="cls_004">Ship-To</span></div>
        <div style="position:absolute;left:524.40px;top:170.10px" class="cls_004"><span class="cls_004">Delivery</span></div>
        <div style="position:absolute;left:595.10px;top:168.95px" class="cls_002"><span class="cls_002">82183773</span></div>
        <div style="position:absolute;left:14.15px;top:174.60px" class="cls_002"><span class="cls_002">BOOKS ON ORDER</span></div>
        <div style="position:absolute;left:255.10px;top:174.60px" class="cls_002"><span class="cls_002">BOOKS ON ORDER</span></div>
        <div style="position:absolute;left:14.15px;top:186.60px" class="cls_002"><span class="cls_002">106 RAKSHA VIKAS</span></div>
        <div style="position:absolute;left:255.10px;top:186.60px" class="cls_002"><span class="cls_002">106 RAKSHA VIKAS</span></div>
        <div style="position:absolute;left:14.15px;top:198.60px" class="cls_002"><span class="cls_002">DDA MARKET 1st FLOOR</span></div>
        <div style="position:absolute;left:255.10px;top:198.60px" class="cls_002"><span class="cls_002">DDA MARKET 1st FLOOR</span></div>
        <div style="position:absolute;left:14.15px;top:210.60px" class="cls_002"><span class="cls_002">D- BLOCK  VIKASPURI</span></div>
        <div style="position:absolute;left:255.10px;top:210.60px" class="cls_002"><span class="cls_002">D- BLOCK  VIKASPURI</span></div>
        <div style="position:absolute;left:14.15px;top:222.60px" class="cls_002"><span class="cls_002">NEW DELHI 110018</span></div>
        <div style="position:absolute;left:255.10px;top:222.60px" class="cls_002"><span class="cls_002">NEW DELHI 110018</span></div>
        <div style="position:absolute;left:14.15px;top:234.60px" class="cls_002"><span class="cls_002">tel. 9910165199</span></div>
        <div style="position:absolute;left:255.10px;top:234.60px" class="cls_002"><span class="cls_002">tel. 9910165199</span></div>
    </div>

</div>

